  <div id ="intro">
          <h1 class="ui center aligned header white" >
            <div class="content" class="homeLink">
              borealis Project
            <div class="sub header" class="homeLink">A Portfolio by Dylan Vailas</div>
            </div>
            </h1>
        <p>This portfolio serves to show you what I am exactly up to in life, whether its just taking pictures or documenting my learning and research
          in software/web development</p>
      </div>
  <div class="ui center aligned items" id="list">
      <h3>Recent Posts</h3>
    <%= render partial: '/post/post', collection: @posts, locals: {show_link: true}%>
  </div>
  <div id ="photos">
  </div>