/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "semantic-ui";
html
{
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
#mainMenu:link
{
  text-decoration: none;
}
.homeLink{
  color:white;
}
#intro
{
  display: block;
  background-image: url("/assets/background.JPG");
  height:750px;
  background-size: cover;
  box-shadow: 2px 2px 8px 3px #888888;
}
#mainMenu
{
  margin: auto;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
#list
{
  width: 85%;
  margin: auto;
  margin-top:10px;
  margin-bottom:10px;
}
#photoList
{
  margin-top:10px;
  background-color:#001b36;
  box-shadow: 2px 2px 8px 3px #888888;
}
#photoList > div{
  width: 85%;
  margin: auto;
}
#photoHeading
{
  padding-top:10px;
  left:190px;
  color: white;
}
#grid
{
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
#content
{
  margin-left: 5px;
}
#indexHeaderContent
{
  position: relative;
  margin: auto;
  display: block;
  width:85%;
  top: 15px;
}
#indexTitle
{
  font-family: 'Source Serif Pro', serif;
  letter-spacing: 5px;
  font-size: 50px;
  color: white;
}
#indexSubTitle
{
  font-family: 'Roboto', sans-serif;
  color: white;
  letter-spacing: 2px;
}
#indexBody
{
  position: relative;
  top:300px;
  width: 450px;
  color: white;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
footer
{
  display: block;
  font-family: 'Roboto', sans-serif;
  left: 0;
  bottom: 0;
  width: 100%;
  height:150px;
  background: #1B1C1D;
}
#footerContent
{
  position: relative;
  width: 85%;
  left:100px;
}
footer a img{
  position: relative;
  top: 25px;
}
footer nav{
  position: relative;
  left: 110px;
  bottom: 50px;
}
footer nav ul{
  list-style: none;
}
footer nav h4{
  font-size: 20px;
}
footer nav ul li{
  display: inline;
}
footer nav ul li{
  font-size: 16px;
}
footer nav ul li:after{
    content: ' |';
    color: white;
}
footer nav ul li:last-child:after{
  content: '';
}
footer nav ul li a:link{
  color:white;
  text-decoration: none;
}
footer nav ul li a:hover{

}
footer nav ul li a:active{

}
.evenCategory
{
  margin-top: 10px;
}
.oddCategory
{
  background-color:#001b36;
  width: 100%;
  margin:auto;
  margin-top: 5px;
  box-shadow: 2px 2px 8px 3px #888888;
}
.oddCategory div > h3
{
  padding-top: 10px;
  color: white;
}
.pictureContent
{
  width:85%;
  margin:auto;
}